<template>
    <div class="header-area">
        <b-navbar toggleable="lg" type="light" variant="info">
            <b-icon icon="chat-quote" font-scale="3"></b-icon>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-link class="text-white home-link" to="/">Home</b-link>
                </b-navbar-nav>


                <!-- Right aligned nav items -->
                <b-navbar-nav v-if="isAuth && isHome" class="ml-auto">
                    <b-button to="/room" size="sm" class="btn btn-outline-light my-2 my-sm-0">Join to Chatroom</b-button>
                    <b-nav-item-dropdown right>
                        <!-- Using 'button-content' slot -->
                        <template v-slot:button-content>
                            <em>{{username}}</em>
                        </template>
                        <b-dropdown-item @click="signOut" to="/">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>

              <b-navbar-nav v-if="isAuth && !isHome" class="ml-auto">
                <b-nav-item-dropdown right>
                  <!-- Using 'button-content' slot -->
                  <template v-slot:button-content>
                    <em>{{username}}</em>
                  </template>
                  <b-dropdown-item @click="signOut" to="/">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
              </b-navbar-nav>

                <b-navbar-nav v-else-if="!isAuth" class="ml-auto">
                    <b-button size="sm" class="btn btn-outline-light my-2 my-sm-0 button2" v-b-modal.modal-register>
                        Register
                    </b-button>
                    <b-button size="sm" class="btn btn-outline-light my-2 my-sm-0 button2" v-b-modal.modal-login>Log in
                    </b-button>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <Login/>
        <Register/>
    </div>
</template>

<script>
    import Login from "@/components/Login";
    import Register from "@/components/Register";

    export default {
        name: 'Header',
        components: {
            Login,
            Register
        },
        methods:{
            signOut(){
                this.$store.dispatch('logout')
            }
        },
        computed:{
            isAuth() {
                return this.$store.getters.isAuth
            },
            isHome(){
              return this.$route.name === 'home'
            },
            username(){
                return this.$store.getters.user_name
            }
        },
        mounted(){
            this.$store.dispatch('auth')
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    .btn-disabled {
        background: #9b9b9b !important;
        cursor: not-allowed;
    }

    .btn-disabled:hover {
        color: white !important;
        border: 1px solid transparent !important;
    }

    .button2 {
        margin-left: 10px;
    }

    .home-link {
        margin-left: 10px;
    }

    .form-input{
        min-height: 93px;
    }

    .password-input{
        min-height: 112px;
    }
</style>
