<template>
    <div>
        <b-card  v-if="isAuth" bg-variant="success" text-variant="white" title="Welcome to the Chat application">
            <b-card-text>
                Enter into the virtual Chat room to take your class
            </b-card-text>
            <b-button to="/room" variant="light">Enter</b-button>
        </b-card>
        <b-card  v-else bg-variant="dark" text-variant="white" title="You're not logged in">
            <b-card-text>
                Please log-in to take your class
            </b-card-text>
        </b-card>
    </div>
</template>

<script>
    export default {
        name: "Home",
        computed:{
            isAuth() {
                return this.$store.getters.isAuth
            }
        }
    }
</script>

<style scoped>

</style>
