<template>
    <b-modal id="modal-login" hide-footer title="Log in">
        <div class="form-group form-input email-input">
                <label>Email of your account</label>
                <input type="email" class="form-control" v-model.trim="$v.email.$model"
                       :class="{'is-invalid':$v.email.$error,'is-valid':!$v.email.$invalid}"/>
                <div class="invalid-feedback">
                    <span v-if="$v.email.$invalid">Introduce a valid email address</span>
                </div>
        </div>
        <div class="form-group form-input password-input">
                <label>Password</label>
                <input type="password" class="form-control" v-model.trim="$v.Password.$model"
                       :class="{'is-invalid':$v.Password.$error,'is-valid':!$v.Password.$invalid}"/>
                <div class="invalid-feedback">
                    <span v-if="$v.Password.$invalid">Password is required</span>
                </div>
        </div>
        <b-button :class="$v.$invalid? 'btn-disabled':''"
                  :disabled="$v.$invalid" block variant="info" @click="logIn">Login to your account</b-button>
        <b-alert
                :show="dismissCountDown"
                dismissible
                :variant="variant"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged"
        >{{feedBack}}</b-alert>
    </b-modal>
</template>

<script>
    import {required} from "vuelidate/lib/validators"
    import Vue from "vue";
    import Vuelidate from "vuelidate/src";
    Vue.use(Vuelidate);
    export default {
        name: "Login",
        data(){
            return{
                email:"",
                Password:"",
                dismissSecs: 2,
                dismissCountDown: 0,
                feedBack:"",
                variant:""
            }
        },
        computed:{
            isAuth() {
                return this.$store.getters.isAuth;
            }
        },
        validations:{
            email:{
                required,
                isEmail(value){
                    return new Promise(resolve => {
                        setTimeout(() => {
                            resolve(
                                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value)
                            )
                        }, 350 + Math.random() * 300)
                    })
                }
            },
            Password:{
                required
            }
        },
        methods:{
            logIn(){
                this.$store.dispatch('login',{
                    "email":this.email,
                    "password":this.Password
                }).then(()=>{
                    this.$store.dispatch('auth').then(()=>{
                        if(this.isAuth){
                            this.variant='success'
                            this.feedBack="You're logged in"
                            this.showAlert()
                        }
                    })
                }).catch(err=>{
                    console.log(err)
                    this.variant='danger'
                    this.feedBack='Credentials are incorrect'
                    this.showAlert()
                })
            },
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert() {
                this.dismissCountDown = this.dismissSecs
            }
        }
    }
</script>

<style scoped>
</style>
