<template>
    <b-modal id="modal-register" hide-footer title="Register">
        <div class="form-group form-input name-input">
                <label>Name</label>
                <input type="text" class="form-control" v-model.trim="$v.name.$model"
                       :class="{'is-invalid':$v.name.$error,'is-valid':!$v.name.$invalid}"/>
                <div class="invalid-feedback">
                    <span v-if="$v.name.$invalid">Name must have 3 characters at least</span>
                </div>
        </div>
        <div class="form-group form-input name-input">
                <label>Last Name</label>
                <input type="text" class="form-control" v-model.trim="$v.lastName.$model"
                       :class="{'is-invalid':$v.lastName.$error,'is-valid':!$v.lastName.$invalid}"/>
                <div class="invalid-feedback">
                    <span v-if="$v.lastName.$invalid">Last name must have 3 characters at least</span>
                </div>
        </div>
        <div class="form-group form-input email-input">
                <label>Email to associate the account</label>
                <input type="email" class="form-control" v-model.trim="$v.email.$model"
                       :class="{'is-invalid':$v.email.$error,'is-valid':!$v.email.$invalid}"/>
                <div class="invalid-feedback">
                    <span v-if="$v.email.$invalid">Introduce a valid email address</span>
                </div>
        </div>
        <div class="form-group form-input select-input">
            <label>Select your role in meetings</label>
            <b-form-select v-model="moderator" :options="options"></b-form-select>
        </div>
        <div class="form-group form-input password-input">
            <label>Password</label>
                <input type="password" class="form-control" v-model.trim="$v.userPassword.$model"
                       :class="{'is-invalid':$v.userPassword.$error,'is-valid':!$v.userPassword.$invalid}"/>
                <div class="invalid-feedback">
                    <span v-if="!$v.userPassword.minLength">Password must have 8 characters at least</span>
                    <br>
                    <span v-if="$v.userPassword.$invalid">Must include: Upper and lowercase letters, numbers and special characters</span>
                </div>
        </div>
        <div class="form-group form-input repeat-password-input">
            <label>Confirm Password</label>
                <input type="password" class="form-control" v-model.trim="$v.repeatPassword.$model"
                       :class="{'is-invalid':$v.repeatPassword.$error,'is-valid':!$v.repeatPassword.$invalid}"/>
                <div class="invalid-feedback">
                    <span v-if="$v.repeatPassword.$invalid">Doesn't match with password field</span>
                </div>
        </div>
        <b-button :class="$v.$invalid? 'btn-disabled':''"
                  :disabled="$v.$invalid" block variant="info" @click="signIn">Sign in</b-button>
        <b-alert
                :show="dismissCountDown"
                dismissible
                variant="success"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged"
        >User has been registered</b-alert>
    </b-modal>
</template>

<script>
    import {minLength, required, sameAs} from "vuelidate/lib/validators"
    import Vue from "vue";
    import Vuelidate from "vuelidate/src";
    Vue.use(Vuelidate);
    export default {
        name: "Register",
        data(){
            return{
                name:"",
                lastName:"",
                email:"",
                moderator:false,
                options:[{ value: false, text: 'Student' }, { value: true, text: 'Moderator' }],
                userPassword: "",
                repeatPassword: "",
                dismissSecs: 10,
                dismissCountDown: 0,
            }
        },
        validations:{
            name: {
                required,
                minLength:minLength(3)
            },
            lastName: {
                required,
                minLength:minLength(3)
            },
            email:{
                required,
                isEmail(value){
                    return new Promise(resolve => {
                        setTimeout(() => {
                            resolve(
                                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value)
                            )
                        }, 350 + Math.random() * 300)
                    })
                }
            },
            userPassword: {
                required,
                minLength:minLength(8),
                isPassword(value){
                    return new Promise(resolve => {
                        setTimeout(() => {
                            resolve(
                                /[a-z]/.test(value) && // checks for a-z
                                /[A-Z]/.test(value) && // checks for A-Z
                                /[0-9]/.test(value) && // checks for 0-9
                                /\W|_/.test(value) && // checks for special char
                                value.length >= 8
                            )
                        }, 350 + Math.random() * 300)
                    })
                }
            },
            repeatPassword: {
                required,
                sameAsPassword:sameAs('userPassword')
            }
        },
        methods:{
            signIn(){
                let data={
                    "name":this.name,
                    "surname": this.lastName,
                    "email":this.email,
                    "moderator":this.moderator,
                    "password":this.userPassword
                }
                this.$store.dispatch('register',data).then(()=>{
                    this.showAlert()
                })
            },
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert() {
                this.dismissCountDown = this.dismissSecs
            }
        }
    }
</script>

<style scoped>
</style>
