<template>
    <div id="room">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="responsive-youtube">
                    <iframe src="https://www.youtube-nocookie.com/embed/4deVCNJq3qc?vq=hd1080&autoplay=1&showinfo=0&rel=0&theme=light&controls=0"
                            width="1020" height="460" frameborder="0"></iframe>
                    </div>
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Users in this session</h4>
                        </div>
                    </div>
                    <div class="inbox_chat text-justify" v-if="usersReady">
                        <span v-for="user in users" :key="user.username">| {{user.moderator?'Moderator: ':''}}{{user.username}} |</span>
                    </div>
                </div>
                <div class="mesgs text-left">
                    <div class="msg_history" v-if="messagesReady" v-chat-scroll>
                        <div v-for="message in messages" :key="message._id"
                             :class="message.username===username?'outgoing_msg':'incoming_msg'">
                            <div v-if="message.username!==username" class="incoming_msg_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                            <div v-if="message.username!==username" class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{message.text}}</p>
                                    <span class="time_date"> {{message.time}}    |    {{message.moderator?'Moderator: ':''}}{{message.username}}</span></div>
                            </div>
                            <div v-else class="sent_msg">
                                <p>{{message.text}}</p>
                                <span class="time_date"> {{message.time}}    |    {{message.moderator?'Moderator: ':''}}{{message.username}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Type a message"
                                   v-on:keyup.enter="sendMsg" v-model="currentMessage"/>
                            <button class="msg_send_btn" type="button" @click="sendMsg"><b-icon icon="cursor"></b-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
</template>

<script>
    import {required} from "vuelidate/lib/validators"
    import Vue from "vue";
    import Vuelidate from "vuelidate/src";
    import VueChatScroll from "vue-chat-scroll/dist/vue-chat-scroll";
    Vue.use(VueChatScroll)
    Vue.use(Vuelidate);
    export default {
        name: "Room",
        //el:"#room",
        data(){
            return{
                currentMessage:''
            }
        },
        validations:{
            currentMessage: {
                required
            }
        },
        methods:{
            sendMsg(){
                if(!this.$v.$invalid){
                    this.$store.dispatch('sendMessage',
                    {username:this.username, room:'class', msg:this.currentMessage, moderator:this.moderator}).then(()=>{
                        this.currentMessage=''
                    })
                }
            },
            disconnect(){
                this.$store.dispatch('disconnect',{
                    id:localStorage.getItem('user_id'), username:localStorage.getItem('user_name'), room:'class'})
            }
        },
        created(){
            window.addEventListener('beforeunload', this.disconnect)
            this.$store.dispatch('join2Room',{id:localStorage.getItem('user_id'), username:localStorage.getItem('user_name'), room:'class',
                moderator:this.$store.getters.moderator})
        },
        beforeDestroyed(){
            window.removeEventListener('beforeunload', this.disconnect)
        },
        computed:{
            users(){
                return this.$store.getters.users
            },
            messages(){
                return this.$store.getters.messages
            },
            username(){
                return this.$store.getters.user_name
            },
            user_id(){
                return this.$store.getters.user_id
            },
            moderator(){
                return this.$store.getters.moderator
            },
            usersReady(){
                return this.$store.getters.messages.length>0
            },
            messagesReady(){
                return this.$store.getters.users.length>0
            }
        }
        /*watch:{
            messages() {
                let container = this.$el.querySelector("#messages");
                container.scrollTop = container.scrollHeight;
                container.scrollTop = container.scrollHeight;
            }
        }*/
    }
</script>

<style scoped>
    .responsive-youtube {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .responsive-youtube iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    img{
        max-width:100%;
    }
    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 75%;
    }
    .inbox_msg {
        clear: both;
        overflow: hidden;
    }
    .top_spac{ margin: 20px 0 0;}


    .recent_heading {float: left; width:40%;}
    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
    }
    .headind_srch{
        overflow:hidden;
        border-bottom:1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }
    .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }
    .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

    .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
    .chat_ib h5 span{ font-size:13px; float:right;}
    .chat_ib p{ font-size:14px; color:#989898; margin:auto}
    .chat_img {
        float: left;
        width: 11%;
    }
    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people{ overflow:hidden; clear:both;}
    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }
    .inbox_chat { height: 25px; overflow-y: scroll; border-bottom: 1px solid #c4c4c4;}

    .active_chat{ background:#ebebeb;}

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }
    .received_msg {
        display: inline-block;
        vertical-align: top;
        width: 92%;
    }
    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }
    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }
    .received_withd_msg { width: 100%;}
    .mesgs {
        float: left;
        width: 25%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0; color:#fff;
        padding: 5px 10px 5px 12px;
        width:100%;
    }
    .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
    .sent_msg {
        float: right;
        width: 100%;
    }
    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
      border-left: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      position: relative;}
    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }
    .messaging {
        justify-content: left}
    .msg_history {
        border: 1px solid #c4c4c4;
        height: 610px;
        overflow-y: auto;
    }

    @media only screen and (max-width: 600px){
      .inbox_msg{
        display: flex;
        flex-direction: column;
      }
      .inbox_people {
        width: 100%;
      }
      .mesgs{
        width: 100%;
      }
      .msg_history {
        height: 280px;
      }
    }

</style>
