<template>
  <div id="app">
    <Header/>
    <router-view />
  </div>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',
  components: {
    Header
  },
  methods:{
    disconnect(){
      this.$store.dispatch('disconnect',{
        id:localStorage.getItem('user_id'), username:localStorage.getItem('user_name'), room:'class'})
    }
  },
  watch:{
    $route (to,from){
      if(from.name==='room' && to.name!=='room'){
        this.disconnect();
      }
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}
</style>
